<div class="container">
  <div class="mat-typography title">
    <h1>
      Current weather in <b>{{ name }}, {{ country }}</b>
    </h1>
  </div>
  <mat-card class="main">
    <mat-card-content>
      <mat-spinner *ngIf="!loaded"></mat-spinner>
      <div *ngIf="loaded" class="content">
        <div>
          <img [src]="iconUrl" alt=" icon" />
          <p
            [ngClass]="{
              blue: temperature < 5,
              yellow: 5 < temperature && temperature < 15,
              orange: 15 < temperature && temperature < 25,
              red: temperature > 25
            }"
          >
            {{ temperature }}&deg;C
          </p>
          <p>
            Current weather:
            {{ currentWeather.current.condition.text }}
          </p>
          <p><b>Local Time:</b> {{ localTime }}</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div>
          <p style="margin-top: 10px">
            Feels like: {{ temperatureFeelsLike }}&deg;C
          </p>
          <p>Pressure: {{ currentWeather.current.pressure_mb }} hPa</p>
          <p>Humidity: {{ currentWeather.current.humidity }}%</p>
          <p>Wind: {{ currentWeather.current.wind_kph }} km/h</p>
          <p>Clouds: {{ currentWeather.current.cloud }}%</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <button mat-raised-button color="primary" (click)="toggleFavorite()">
    {{ isFavorite ? 'Remove from Favorites' : 'Add to Favorites' }}
  </button>


  <button mat-raised-button color="secondary" (click)="goToAnotherLocation()">Check another location</button>
</div>
